#grid {
    height: 75vh;
    width: 50vw;
    background: repeating-linear-gradient(#004b50, #46abb0 150px);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    
}

button {
    background: repeating-linear-gradient(#46abb0, #004b50 150px);
    margin: 10px 5px
}



#one {
    grid-column:  3 / 4;
    grid-row: 4 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px

}

#two {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65px;

}

#three {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;

}


#four {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px

}


#five {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;

}

#six {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px

}


#seven {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;

}

#eight {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;

}

#nine {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px

}

#zero {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px

}


#plus {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px

}

#subtract {
    grid-column: 5 / 6;
    grid-row: 5 / 6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px

}

#multiply {
    grid-column: 5 / 6;
    grid-row: 4 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px

}

#divide {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px

}

#equals {
    grid-column: 5 / 6;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px

}

#clear {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;


}

#clear > img {
    max-width: 100%;
    height: auto;
    pointer-events: none;
}

#display {
    grid-column: 2 / 5;
    border: 2px solid black;
    margin-top: 10px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
}